.commandRow {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 100%;
    display: flex;
    align-items: center;
}

.commandButton {
    width: 100%;
    font-size: 2em;
    margin: 1em;
}

.container {
    max-width: 1024px;
}

.header {
    max-width: inherit;
    border-bottom: solid 1px;
}

img {
    height: 100%;
    width: 100%;
}
