
.commandBox {
    float: right;
    width: 50%;
}

.commandRow {
    background-color: lightgray;
    border: 1px solid darkgray;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.commandButton {
    width: 100%;
    font-size: 3em;
    margin: 0;
}

.container {
    max-width: 1024px;
}

.header {
    max-width: inherit;
    border-bottom: solid 1px;
}

img {
    height: 100%;
    width: 100%;
}
